{"openapi":"3.0.0","info":{"title":"Shopware Admin API","version":"3"},"servers":[{"url":"http:\/\/shopware6.wantedweb.de\/api\/v3"}],"paths":{"\/acl-role":{"get":{"tags":["Acl Role"],"summary":"List with basic information of Acl Role resources","description":"Available since: 6.0.0.0","operationId":"getAclRoleList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Acl Role resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/acl_role"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/acl-role?limit=25"},"last":{"example":"\/acl-role?limit=25\u0026page=11"},"next":{"example":"\/acl-role?limit=25\u0026page=4"},"prev":{"example":"\/acl-role?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Acl Role"],"summary":"Create a new Acl Role resources","description":"Available since: 6.0.0.0","operationId":"createAclRole","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"responses":{"200":{"description":"Detail of acl_role","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/acl-role\/{id}":{"get":{"tags":["Acl Role"],"summary":"Detailed information about a Acl Role resource","description":"Available since: 6.0.0.0","operationId":"getAclRole","parameters":[{"name":"id","in":"path","description":"Identifier for the acl_role","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of acl_role","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Acl Role"],"summary":"Delete a Acl Role resource","description":"Available since: 6.0.0.0","operationId":"deleteAclRole","parameters":[{"name":"id","in":"path","description":"Identifier for the acl_role","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Acl Role"],"summary":"Partially update information about a Acl Role resource","description":"Available since: 6.0.0.0","operationId":"updateAclRole","parameters":[{"name":"id","in":"path","description":"Identifier for the acl_role","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Acl Role resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"responses":{"200":{"description":"Detail of acl_role","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/app":{"get":{"tags":["App"],"summary":"List with basic information of App resources","description":"Available since: 6.3.1.0","operationId":"getAppList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of App resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/app"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/app?limit=25"},"last":{"example":"\/app?limit=25\u0026page=11"},"next":{"example":"\/app?limit=25\u0026page=4"},"prev":{"example":"\/app?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/app_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["App"],"summary":"Create a new App resources","description":"Available since: 6.3.1.0","operationId":"createApp","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_flat"}}}},"responses":{"200":{"description":"Detail of app","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/app\/{id}":{"get":{"tags":["App"],"summary":"Detailed information about a App resource","description":"Available since: 6.3.1.0","operationId":"getApp","parameters":[{"name":"id","in":"path","description":"Identifier for the app","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of app","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["App"],"summary":"Delete a App resource","description":"Available since: 6.3.1.0","operationId":"deleteApp","parameters":[{"name":"id","in":"path","description":"Identifier for the app","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["App"],"summary":"Partially update information about a App resource","description":"Available since: 6.3.1.0","operationId":"updateApp","parameters":[{"name":"id","in":"path","description":"Identifier for the app","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a App resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_flat"}}}},"responses":{"200":{"description":"Detail of app","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/app-action-button":{"get":{"tags":["App Action Button"],"summary":"List with basic information of App Action Button resources","description":"Available since: 6.3.1.0","operationId":"getAppActionButtonList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of App Action Button resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/app_action_button"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/app-action-button?limit=25"},"last":{"example":"\/app-action-button?limit=25\u0026page=11"},"next":{"example":"\/app-action-button?limit=25\u0026page=4"},"prev":{"example":"\/app-action-button?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/app_action_button_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["App Action Button"],"summary":"Create a new App Action Button resources","description":"Available since: 6.3.1.0","operationId":"createAppActionButton","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_action_button"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_action_button_flat"}}}},"responses":{"200":{"description":"Detail of app_action_button","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_action_button"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_action_button_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/app-action-button\/{id}":{"get":{"tags":["App Action Button"],"summary":"Detailed information about a App Action Button resource","description":"Available since: 6.3.1.0","operationId":"getAppActionButton","parameters":[{"name":"id","in":"path","description":"Identifier for the app_action_button","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of app_action_button","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_action_button"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_action_button_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["App Action Button"],"summary":"Delete a App Action Button resource","description":"Available since: 6.3.1.0","operationId":"deleteAppActionButton","parameters":[{"name":"id","in":"path","description":"Identifier for the app_action_button","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["App Action Button"],"summary":"Partially update information about a App Action Button resource","description":"Available since: 6.3.1.0","operationId":"updateAppActionButton","parameters":[{"name":"id","in":"path","description":"Identifier for the app_action_button","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a App Action Button resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_action_button"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_action_button_flat"}}}},"responses":{"200":{"description":"Detail of app_action_button","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_action_button"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_action_button_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/app-template":{"get":{"tags":["App Template"],"summary":"List with basic information of App Template resources","description":"Available since: 6.3.1.0","operationId":"getAppTemplateList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of App Template resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/app_template"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/app-template?limit=25"},"last":{"example":"\/app-template?limit=25\u0026page=11"},"next":{"example":"\/app-template?limit=25\u0026page=4"},"prev":{"example":"\/app-template?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/app_template_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["App Template"],"summary":"Create a new App Template resources","description":"Available since: 6.3.1.0","operationId":"createAppTemplate","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_template"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_template_flat"}}}},"responses":{"200":{"description":"Detail of app_template","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_template"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_template_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/app-template\/{id}":{"get":{"tags":["App Template"],"summary":"Detailed information about a App Template resource","description":"Available since: 6.3.1.0","operationId":"getAppTemplate","parameters":[{"name":"id","in":"path","description":"Identifier for the app_template","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of app_template","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_template"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_template_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["App Template"],"summary":"Delete a App Template resource","description":"Available since: 6.3.1.0","operationId":"deleteAppTemplate","parameters":[{"name":"id","in":"path","description":"Identifier for the app_template","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["App Template"],"summary":"Partially update information about a App Template resource","description":"Available since: 6.3.1.0","operationId":"updateAppTemplate","parameters":[{"name":"id","in":"path","description":"Identifier for the app_template","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a App Template resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_template"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_template_flat"}}}},"responses":{"200":{"description":"Detail of app_template","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/app_template"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/app_template_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/category":{"get":{"tags":["Category"],"summary":"List with basic information of Category resources","description":"Available since: 6.0.0.0","operationId":"getCategoryList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Category resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/category"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/category?limit=25"},"last":{"example":"\/category?limit=25\u0026page=11"},"next":{"example":"\/category?limit=25\u0026page=4"},"prev":{"example":"\/category?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/category_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Category"],"summary":"Create a new Category resources","description":"Available since: 6.0.0.0","operationId":"createCategory","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"responses":{"200":{"description":"Detail of category","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/category\/{id}":{"get":{"tags":["Category"],"summary":"Detailed information about a Category resource","description":"Available since: 6.0.0.0","operationId":"getCategory","parameters":[{"name":"id","in":"path","description":"Identifier for the category","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of category","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Category"],"summary":"Delete a Category resource","description":"Available since: 6.0.0.0","operationId":"deleteCategory","parameters":[{"name":"id","in":"path","description":"Identifier for the category","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Category"],"summary":"Partially update information about a Category resource","description":"Available since: 6.0.0.0","operationId":"updateCategory","parameters":[{"name":"id","in":"path","description":"Identifier for the category","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Category resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"responses":{"200":{"description":"Detail of category","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-block":{"get":{"tags":["Cms Block"],"summary":"List with basic information of Cms Block resources","description":"Available since: 6.0.0.0","operationId":"getCmsBlockList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Cms Block resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_block"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/cms-block?limit=25"},"last":{"example":"\/cms-block?limit=25\u0026page=11"},"next":{"example":"\/cms-block?limit=25\u0026page=4"},"prev":{"example":"\/cms-block?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Cms Block"],"summary":"Create a new Cms Block resources","description":"Available since: 6.0.0.0","operationId":"createCmsBlock","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"responses":{"200":{"description":"Detail of cms_block","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-block\/{id}":{"get":{"tags":["Cms Block"],"summary":"Detailed information about a Cms Block resource","description":"Available since: 6.0.0.0","operationId":"getCmsBlock","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_block","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of cms_block","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Cms Block"],"summary":"Delete a Cms Block resource","description":"Available since: 6.0.0.0","operationId":"deleteCmsBlock","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_block","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Cms Block"],"summary":"Partially update information about a Cms Block resource","description":"Available since: 6.0.0.0","operationId":"updateCmsBlock","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_block","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Cms Block resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"responses":{"200":{"description":"Detail of cms_block","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-page":{"get":{"tags":["Cms Page"],"summary":"List with basic information of Cms Page resources","description":"Available since: 6.0.0.0","operationId":"getCmsPageList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Cms Page resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_page"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/cms-page?limit=25"},"last":{"example":"\/cms-page?limit=25\u0026page=11"},"next":{"example":"\/cms-page?limit=25\u0026page=4"},"prev":{"example":"\/cms-page?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Cms Page"],"summary":"Create a new Cms Page resources","description":"Available since: 6.0.0.0","operationId":"createCmsPage","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"responses":{"200":{"description":"Detail of cms_page","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-page\/{id}":{"get":{"tags":["Cms Page"],"summary":"Detailed information about a Cms Page resource","description":"Available since: 6.0.0.0","operationId":"getCmsPage","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_page","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of cms_page","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Cms Page"],"summary":"Delete a Cms Page resource","description":"Available since: 6.0.0.0","operationId":"deleteCmsPage","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_page","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Cms Page"],"summary":"Partially update information about a Cms Page resource","description":"Available since: 6.0.0.0","operationId":"updateCmsPage","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_page","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Cms Page resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"responses":{"200":{"description":"Detail of cms_page","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-section":{"get":{"tags":["Cms Section"],"summary":"List with basic information of Cms Section resources","description":"Available since: 6.0.0.0","operationId":"getCmsSectionList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Cms Section resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_section"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/cms-section?limit=25"},"last":{"example":"\/cms-section?limit=25\u0026page=11"},"next":{"example":"\/cms-section?limit=25\u0026page=4"},"prev":{"example":"\/cms-section?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Cms Section"],"summary":"Create a new Cms Section resources","description":"Available since: 6.0.0.0","operationId":"createCmsSection","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"responses":{"200":{"description":"Detail of cms_section","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-section\/{id}":{"get":{"tags":["Cms Section"],"summary":"Detailed information about a Cms Section resource","description":"Available since: 6.0.0.0","operationId":"getCmsSection","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_section","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of cms_section","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Cms Section"],"summary":"Delete a Cms Section resource","description":"Available since: 6.0.0.0","operationId":"deleteCmsSection","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_section","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Cms Section"],"summary":"Partially update information about a Cms Section resource","description":"Available since: 6.0.0.0","operationId":"updateCmsSection","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_section","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Cms Section resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"responses":{"200":{"description":"Detail of cms_section","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-slot":{"get":{"tags":["Cms Slot"],"summary":"List with basic information of Cms Slot resources","description":"Available since: 6.0.0.0","operationId":"getCmsSlotList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Cms Slot resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_slot"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/cms-slot?limit=25"},"last":{"example":"\/cms-slot?limit=25\u0026page=11"},"next":{"example":"\/cms-slot?limit=25\u0026page=4"},"prev":{"example":"\/cms-slot?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Cms Slot"],"summary":"Create a new Cms Slot resources","description":"Available since: 6.0.0.0","operationId":"createCmsSlot","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"responses":{"200":{"description":"Detail of cms_slot","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-slot\/{id}":{"get":{"tags":["Cms Slot"],"summary":"Detailed information about a Cms Slot resource","description":"Available since: 6.0.0.0","operationId":"getCmsSlot","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_slot","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of cms_slot","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Cms Slot"],"summary":"Delete a Cms Slot resource","description":"Available since: 6.0.0.0","operationId":"deleteCmsSlot","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_slot","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Cms Slot"],"summary":"Partially update information about a Cms Slot resource","description":"Available since: 6.0.0.0","operationId":"updateCmsSlot","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_slot","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Cms Slot resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"responses":{"200":{"description":"Detail of cms_slot","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/country":{"get":{"tags":["Country"],"summary":"List with basic information of Country resources","description":"Available since: 6.0.0.0","operationId":"getCountryList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Country resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/country"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/country?limit=25"},"last":{"example":"\/country?limit=25\u0026page=11"},"next":{"example":"\/country?limit=25\u0026page=4"},"prev":{"example":"\/country?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/country_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Country"],"summary":"Create a new Country resources","description":"Available since: 6.0.0.0","operationId":"createCountry","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"responses":{"200":{"description":"Detail of country","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/country\/{id}":{"get":{"tags":["Country"],"summary":"Detailed information about a Country resource","description":"Available since: 6.0.0.0","operationId":"getCountry","parameters":[{"name":"id","in":"path","description":"Identifier for the country","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of country","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Country"],"summary":"Delete a Country resource","description":"Available since: 6.0.0.0","operationId":"deleteCountry","parameters":[{"name":"id","in":"path","description":"Identifier for the country","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Country"],"summary":"Partially update information about a Country resource","description":"Available since: 6.0.0.0","operationId":"updateCountry","parameters":[{"name":"id","in":"path","description":"Identifier for the country","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Country resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"responses":{"200":{"description":"Detail of country","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/country-state":{"get":{"tags":["Country State"],"summary":"List with basic information of Country State resources","description":"Available since: 6.0.0.0","operationId":"getCountryStateList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Country State resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/country_state"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/country-state?limit=25"},"last":{"example":"\/country-state?limit=25\u0026page=11"},"next":{"example":"\/country-state?limit=25\u0026page=4"},"prev":{"example":"\/country-state?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/country_state_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Country State"],"summary":"Create a new Country State resources","description":"Available since: 6.0.0.0","operationId":"createCountryState","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"responses":{"200":{"description":"Detail of country_state","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/country-state\/{id}":{"get":{"tags":["Country State"],"summary":"Detailed information about a Country State resource","description":"Available since: 6.0.0.0","operationId":"getCountryState","parameters":[{"name":"id","in":"path","description":"Identifier for the country_state","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of country_state","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Country State"],"summary":"Delete a Country State resource","description":"Available since: 6.0.0.0","operationId":"deleteCountryState","parameters":[{"name":"id","in":"path","description":"Identifier for the country_state","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Country State"],"summary":"Partially update information about a Country State resource","description":"Available since: 6.0.0.0","operationId":"updateCountryState","parameters":[{"name":"id","in":"path","description":"Identifier for the country_state","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Country State resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"responses":{"200":{"description":"Detail of country_state","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/currency":{"get":{"tags":["Currency"],"summary":"List with basic information of Currency resources","description":"Available since: 6.0.0.0","operationId":"getCurrencyList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Currency resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/currency"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/currency?limit=25"},"last":{"example":"\/currency?limit=25\u0026page=11"},"next":{"example":"\/currency?limit=25\u0026page=4"},"prev":{"example":"\/currency?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/currency_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Currency"],"summary":"Create a new Currency resources","description":"Available since: 6.0.0.0","operationId":"createCurrency","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"responses":{"200":{"description":"Detail of currency","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/currency\/{id}":{"get":{"tags":["Currency"],"summary":"Detailed information about a Currency resource","description":"Available since: 6.0.0.0","operationId":"getCurrency","parameters":[{"name":"id","in":"path","description":"Identifier for the currency","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of currency","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Currency"],"summary":"Delete a Currency resource","description":"Available since: 6.0.0.0","operationId":"deleteCurrency","parameters":[{"name":"id","in":"path","description":"Identifier for the currency","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Currency"],"summary":"Partially update information about a Currency resource","description":"Available since: 6.0.0.0","operationId":"updateCurrency","parameters":[{"name":"id","in":"path","description":"Identifier for the currency","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Currency resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"responses":{"200":{"description":"Detail of currency","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field":{"get":{"tags":["Custom Field"],"summary":"List with basic information of Custom Field resources","description":"Available since: 6.0.0.0","operationId":"getCustomFieldList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Custom Field resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/custom-field?limit=25"},"last":{"example":"\/custom-field?limit=25\u0026page=11"},"next":{"example":"\/custom-field?limit=25\u0026page=4"},"prev":{"example":"\/custom-field?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Custom Field"],"summary":"Create a new Custom Field resources","description":"Available since: 6.0.0.0","operationId":"createCustomField","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"responses":{"200":{"description":"Detail of custom_field","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field\/{id}":{"get":{"tags":["Custom Field"],"summary":"Detailed information about a Custom Field resource","description":"Available since: 6.0.0.0","operationId":"getCustomField","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of custom_field","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Custom Field"],"summary":"Delete a Custom Field resource","description":"Available since: 6.0.0.0","operationId":"deleteCustomField","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Custom Field"],"summary":"Partially update information about a Custom Field resource","description":"Available since: 6.0.0.0","operationId":"updateCustomField","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Custom Field resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"responses":{"200":{"description":"Detail of custom_field","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field-set":{"get":{"tags":["Custom Field Set"],"summary":"List with basic information of Custom Field Set resources","description":"Available since: 6.0.0.0","operationId":"getCustomFieldSetList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Custom Field Set resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_set"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/custom-field-set?limit=25"},"last":{"example":"\/custom-field-set?limit=25\u0026page=11"},"next":{"example":"\/custom-field-set?limit=25\u0026page=4"},"prev":{"example":"\/custom-field-set?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Custom Field Set"],"summary":"Create a new Custom Field Set resources","description":"Available since: 6.0.0.0","operationId":"createCustomFieldSet","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"responses":{"200":{"description":"Detail of custom_field_set","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field-set\/{id}":{"get":{"tags":["Custom Field Set"],"summary":"Detailed information about a Custom Field Set resource","description":"Available since: 6.0.0.0","operationId":"getCustomFieldSet","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of custom_field_set","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Custom Field Set"],"summary":"Delete a Custom Field Set resource","description":"Available since: 6.0.0.0","operationId":"deleteCustomFieldSet","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Custom Field Set"],"summary":"Partially update information about a Custom Field Set resource","description":"Available since: 6.0.0.0","operationId":"updateCustomFieldSet","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Custom Field Set resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"responses":{"200":{"description":"Detail of custom_field_set","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field-set-relation":{"get":{"tags":["Custom Field Set Relation"],"summary":"List with basic information of Custom Field Set Relation resources","description":"Available since: 6.0.0.0","operationId":"getCustomFieldSetRelationList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Custom Field Set Relation resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_set_relation"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/custom-field-set-relation?limit=25"},"last":{"example":"\/custom-field-set-relation?limit=25\u0026page=11"},"next":{"example":"\/custom-field-set-relation?limit=25\u0026page=4"},"prev":{"example":"\/custom-field-set-relation?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Custom Field Set Relation"],"summary":"Create a new Custom Field Set Relation resources","description":"Available since: 6.0.0.0","operationId":"createCustomFieldSetRelation","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"responses":{"200":{"description":"Detail of custom_field_set_relation","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field-set-relation\/{id}":{"get":{"tags":["Custom Field Set Relation"],"summary":"Detailed information about a Custom Field Set Relation resource","description":"Available since: 6.0.0.0","operationId":"getCustomFieldSetRelation","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set_relation","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of custom_field_set_relation","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Custom Field Set Relation"],"summary":"Delete a Custom Field Set Relation resource","description":"Available since: 6.0.0.0","operationId":"deleteCustomFieldSetRelation","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set_relation","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Custom Field Set Relation"],"summary":"Partially update information about a Custom Field Set Relation resource","description":"Available since: 6.0.0.0","operationId":"updateCustomFieldSetRelation","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set_relation","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Custom Field Set Relation resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"responses":{"200":{"description":"Detail of custom_field_set_relation","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer":{"get":{"tags":["Customer"],"summary":"List with basic information of Customer resources","description":"Available since: 6.0.0.0","operationId":"getCustomerList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Customer resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/customer"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/customer?limit=25"},"last":{"example":"\/customer?limit=25\u0026page=11"},"next":{"example":"\/customer?limit=25\u0026page=4"},"prev":{"example":"\/customer?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Customer"],"summary":"Create a new Customer resources","description":"Available since: 6.0.0.0","operationId":"createCustomer","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"responses":{"200":{"description":"Detail of customer","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer\/{id}":{"get":{"tags":["Customer"],"summary":"Detailed information about a Customer resource","description":"Available since: 6.0.0.0","operationId":"getCustomer","parameters":[{"name":"id","in":"path","description":"Identifier for the customer","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of customer","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Customer"],"summary":"Delete a Customer resource","description":"Available since: 6.0.0.0","operationId":"deleteCustomer","parameters":[{"name":"id","in":"path","description":"Identifier for the customer","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Customer"],"summary":"Partially update information about a Customer resource","description":"Available since: 6.0.0.0","operationId":"updateCustomer","parameters":[{"name":"id","in":"path","description":"Identifier for the customer","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Customer resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"responses":{"200":{"description":"Detail of customer","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-address":{"get":{"tags":["Customer Address"],"summary":"List with basic information of Customer Address resources","description":"Available since: 6.0.0.0","operationId":"getCustomerAddressList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Customer Address resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_address"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/customer-address?limit=25"},"last":{"example":"\/customer-address?limit=25\u0026page=11"},"next":{"example":"\/customer-address?limit=25\u0026page=4"},"prev":{"example":"\/customer-address?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Customer Address"],"summary":"Create a new Customer Address resources","description":"Available since: 6.0.0.0","operationId":"createCustomerAddress","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"responses":{"200":{"description":"Detail of customer_address","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-address\/{id}":{"get":{"tags":["Customer Address"],"summary":"Detailed information about a Customer Address resource","description":"Available since: 6.0.0.0","operationId":"getCustomerAddress","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_address","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of customer_address","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Customer Address"],"summary":"Delete a Customer Address resource","description":"Available since: 6.0.0.0","operationId":"deleteCustomerAddress","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_address","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Customer Address"],"summary":"Partially update information about a Customer Address resource","description":"Available since: 6.0.0.0","operationId":"updateCustomerAddress","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_address","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Customer Address resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"responses":{"200":{"description":"Detail of customer_address","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-group":{"get":{"tags":["Customer Group"],"summary":"List with basic information of Customer Group resources","description":"Available since: 6.0.0.0","operationId":"getCustomerGroupList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Customer Group resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_group"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/customer-group?limit=25"},"last":{"example":"\/customer-group?limit=25\u0026page=11"},"next":{"example":"\/customer-group?limit=25\u0026page=4"},"prev":{"example":"\/customer-group?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Customer Group"],"summary":"Create a new Customer Group resources","description":"Available since: 6.0.0.0","operationId":"createCustomerGroup","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"responses":{"200":{"description":"Detail of customer_group","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-group\/{id}":{"get":{"tags":["Customer Group"],"summary":"Detailed information about a Customer Group resource","description":"Available since: 6.0.0.0","operationId":"getCustomerGroup","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_group","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of customer_group","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Customer Group"],"summary":"Delete a Customer Group resource","description":"Available since: 6.0.0.0","operationId":"deleteCustomerGroup","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_group","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Customer Group"],"summary":"Partially update information about a Customer Group resource","description":"Available since: 6.0.0.0","operationId":"updateCustomerGroup","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_group","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Customer Group resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"responses":{"200":{"description":"Detail of customer_group","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-recovery":{"get":{"tags":["Customer Recovery"],"summary":"List with basic information of Customer Recovery resources","description":"Available since: 6.1.0.0","operationId":"getCustomerRecoveryList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Customer Recovery resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_recovery"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/customer-recovery?limit=25"},"last":{"example":"\/customer-recovery?limit=25\u0026page=11"},"next":{"example":"\/customer-recovery?limit=25\u0026page=4"},"prev":{"example":"\/customer-recovery?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Customer Recovery"],"summary":"Create a new Customer Recovery resources","description":"Available since: 6.1.0.0","operationId":"createCustomerRecovery","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"responses":{"200":{"description":"Detail of customer_recovery","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-recovery\/{id}":{"get":{"tags":["Customer Recovery"],"summary":"Detailed information about a Customer Recovery resource","description":"Available since: 6.1.0.0","operationId":"getCustomerRecovery","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_recovery","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of customer_recovery","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Customer Recovery"],"summary":"Delete a Customer Recovery resource","description":"Available since: 6.1.0.0","operationId":"deleteCustomerRecovery","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_recovery","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Customer Recovery"],"summary":"Partially update information about a Customer Recovery resource","description":"Available since: 6.1.0.0","operationId":"updateCustomerRecovery","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_recovery","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Customer Recovery resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"responses":{"200":{"description":"Detail of customer_recovery","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-wishlist":{"get":{"tags":["Customer Wishlist"],"summary":"List with basic information of Customer Wishlist resources","description":"Available since: 6.3.4.0","operationId":"getCustomerWishlistList","parameters":[{"name":"limit"
[...]
